.flex-container {
  display: flex;
  height: 100vh;
}

.flex-sidbar {
  flex-direction: column;
  flex: 1;
  min-height: 10rem;
  background-color: #E0E0E0;
  padding: 1rem;
  overflow: auto;
  padding-top: 50px;
}

.flex-content {
  flex-direction: row;
  flex-grow: 4;
  min-height: 10rem;
  background-color: #EEEEEE;
  padding: 1rem;
  overflow: auto;
  padding-top: 50px;
}