.header-container {
  display: flex;
  background: #455A64;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .top-row {

  }

  & .bottom-row {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
  }
}