.header-container {
  position: fixed;
  display: flex;
  width: 100%;
  background: #455A64;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 50px;

  & .brand {
    font-size: 32px;
  }
}