//TODO cleanup unused
@import "../node_modules/normalize.css/normalize.css";
@import "grid";
@import "header";
@import "version.component";
@import "collapsible";
@import "snippets";

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-wrapper {
  height: 100vh;
  display: flex;
}

.content-wrapper {
  width: 100%;
}

.front-page {
  padding-top: 50px;
}
