$ss-dark:       #002834;
$ss-light:      #9AE9FF;
$ss-muted:      #CCCCCC;

%ss-light-btn {
  border: 1px solid $ss-dark;
  color: $ss-dark;
  padding: 0.3em 0.5em;
}

%ss-dark-btn {
  background-color: $ss-dark;
  color: white;
  padding: 0.3em 0.5em;
}
