
/* import start */
@import "example-variables";
@import "../../../src/layout/flex-grid";
/* import end */

/* hidden rules */
.ss-flex-grid {
    > * {
        padding: 20px;
        box-sizing: border-box;
    
        background: #b7e4c9;
    
        border: 1px solid #539770;
    
        text-align: center;
        color: #539770;
    
    }
}
/* end hidden rules */

/* example start */
.ss-flex-grid {
    @include snip-flex-grid(14px, 2);
}

/* example end */
