
/* import start */
@import "example-variables";
@import "../../../src/layout/flex-grid";
/* import end */

/* hidden rules */
.ss-flex-grid {
    border: 5px solid $ss-dark;
    height: 10em;

    > * {
        box-sizing: border-box;
        padding: 5px;

        background: $ss-muted;
    }
}
/* end hidden rules */

/* example start */
.ss-flex-grid {
    @include snip-flex-grid(14px, 2);
}

/* example end */
