
/* import start */
@import "example-variables";
@import "../../../src/utility/visibility";
/* import end */

/* hidden rules */
.ss-hide-mobile,
.ss-show-mobile {
    padding: 20px;
    margin: 10px;

    background: $ss-light;

    border: 1px solid $ss-dark;

    p {
        text-align: center;
        color: $ss-dark;
    }
}

.ss-hide-mobile-reverse,
.ss-show-mobile-reverse {
    padding: 20px;
    margin: 10px;

    background: #eee;

    border: 1px solid #888;

    opacity: .4;

    p {
        text-align: center;
        color: #888;
    }
}

.ss-hide-mobile-reverse {
    @include snip-show-from($ss-break-sm);
}

.ss-show-mobile-reverse {
    @include snip-hide-from($ss-break-sm);
}
/* end hidden rules */

/* example start */
.ss-show-mobile {
    @include snip-show-from($ss-break-sm);
}

.ss-hide-mobile {
    @include snip-hide-from($ss-break-sm);
}
/* example end */
