/* ==========================================================================
   Config - Typography

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Font-sizes
    ========================================================================== */
$font-size--base:           15px;


/* Font-weights
    ========================================================================== */
$font-weight--light:        300;
$font-weight--regular:      400;
$font-weight--semibold:     600;
$font-weight--bold:         700;


/* Line-height
    ========================================================================== */
$line-height--base:         1.4;
$line-height--small:        1.1;
$line-height--medium:       1.2;
