**/node_modules

/packages/snipsonian-doc-site/**/*.js

/packages/snipsonian-docs-site/tmp/**/*.js
/packages/snipsonian-docs-site/bin/**/*.js

/packages/**/*example.ts

/packages/*/es
/packages/*/cjs
