@import "~normalize.css/normalize";

$sidebar-color: #E0E0E0;
$content-color: #EEEEEE;
$header-color: #455A64;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}