/* ==========================================================================
   Layout - Coordinates
   ========================================================================== */

@function snip-auto-or-value($val) {
    @if $val == a or $val == auto {
        @return auto;
    } @else {
        @return $val;
    }
}

@mixin snip-coordinates(
    $coordinates: n n n n
) {
    $top: list.nth($coordinates, 1);
    $right: list.nth($coordinates, 2);
    $bottom: list.nth($coordinates, 3);
    $left: list.nth($coordinates, 4);

    @if $top != n {
        top: snip-auto-or-value($top);
    }

    @if $right != n {
        right: snip-auto-or-value($right);
    }

    @if $bottom != n {
        bottom: snip-auto-or-value($bottom);
    }

    @if $left != n {
        left: snip-auto-or-value($left);
    }
}
