/* ==========================================================================
   Layout - Flex grid
   ========================================================================== */
@use "sass:math";

@mixin snip-flex-grid($gutter: 0, $cols: null) {
    display: flex;
    justify-content: flex-start;
    @if $cols {
        flex-wrap: wrap;
    }

    margin-left: -#{math.div($gutter, 2)};
    margin-right: -#{math.div($gutter, 2)};

    > * {
        display: block;
        @if $cols {
            @if $cols == 0 {
                @warn "0 is an invalid value for $cols";
            } @else {
                @if $gutter > 0 {
                    /* stylelint-disable-next-line function-calc-no-invalid */
                    width: calc((#{math.div(100%, $cols)}) - #{$gutter});
                } @else {
                    width: #{(100% / $cols)};
                }
                flex-basis: auto;
            }
            flex-grow: 0;
        } @else {
            flex-basis: 1px;
            flex-grow: 1;
        }
        flex-shrink: 1;
        margin: math.div($gutter, 2);
    }
}

%snip-flex-grid {
    @include snip-flex-grid();
}
