/* ==========================================================================
   Layout - Flex grid
   ========================================================================== */

@mixin snip-flex-grid($gutter: 0, $cols: null) {
    display: flex;
    justify-content: flex-start;
    @if $cols {
        flex-wrap: wrap;
    }

    margin-left: -#{$gutter / 2};
    margin-right: -#{$gutter / 2};

    > * {
        display: block;
        @if $cols {
            @if $cols == 0 {
                @warn "0 is an invalid value for $cols";
            } @else {
                width: calc(#{(100% / $cols)} - #{$gutter});
                flex-basis: auto;
                flex-grow: 0;
            }
            flex-grow: 0;
            margin: #{$gutter / 2};
        } @else {
            flex-basis: 1px;
            flex-grow: 1;
        }
        flex-shrink: 1;
        margin: #{$gutter / 2};
    }
}

%snip-flex-grid {
    @include snip-flex-grid();
}
