@function deep-get($key: null, $level: null, $map: null) {
    @if ($key != null and $map != null) {
        $found: null;

        @if ($level != null) {
            $found: map-get(map-get($map, $level), $key);
        } @else {
            $found: map-get($map, $key);
        }

        @if ($found == null) {
            @error('Key #{$key} not found in map');
        }

        @return $found;
    }
}
