/* ==========================================================================
   Functions - Deep Get
   ========================================================================== */

@use "sass:map";

@function deep-get($key: null, $level: null, $map: null) {
    @if $key and $map {
        $found: null;

        @if $level {
            $found: map.get(map.get($map, $level), $key);
        } @else {
            $found: map.get($map, $key);
        }

        @if not $found {
            @error("Key #{$key} not found in map");
        }

        @return $found;
    }
}
