/* ==========================================================================
   Config - Easings
   ========================================================================== */

// SCSS variables
$snip-ease-sine-in: cubic-bezier(.47, 0, .745, .715);
$snip-ease-sine-out: cubic-bezier(.39, .575, .565, 1);
$snip-ease-sine-in-out: cubic-bezier(.445, .05, .55, .95);

$snip-ease-cubic-in: cubic-bezier(.55, .055, .675, .19);
$snip-ease-cubic-out: cubic-bezier(.215, .61, .355, 1);
$snip-ease-cubic-in-out: cubic-bezier(.645, .045, .355, 1);

$snip-ease-quint-in: cubic-bezier(.755, .05, .855, .06);
$snip-ease-quint-out: cubic-bezier(.23, 1, .32, 1);
$snip-ease-quint-in-out: cubic-bezier(.86, 0, .07, 1);

$snip-ease-circ-in: cubic-bezier(.6, .04, .98, .335);
$snip-ease-circ-out: cubic-bezier(.075, .82, .165, 1);
$snip-ease-circ-in-out: cubic-bezier(.785, .135, .15, .86);

$snip-ease-quad-in: cubic-bezier(.55, .085, .68, .53);
$snip-ease-quad-out: cubic-bezier(.25, .46, .45, .94);
$snip-ease-quad-in-out: cubic-bezier(.455, .03, .515, .955);

$snip-ease-quart-in: cubic-bezier(.895, .03, .685, .22);
$snip-ease-quart-out: cubic-bezier(.165, .84, .44, 1);
$snip-ease-quart-in-out: cubic-bezier(.77, 0, .175, 1);

$snip-ease-expo-in: cubic-bezier(.95, .05, .795, .035);
$snip-ease-expo-out: cubic-bezier(.19, 1, .22, 1);
$snip-ease-expo-in-out: cubic-bezier(1, 0, 0, 1);

$snip-ease-back-in: cubic-bezier(.6, -.28, .735, .045);
$snip-ease-back-out: cubic-bezier(.175, .885, .32, 1.275);
$snip-ease-back-in-out: cubic-bezier(.68, -.55, .265, 1.55);

// MAP
$snip-easings: (
    sine: (
        in: $snip-ease-sine-in,
        out: $snip-ease-sine-out,
        in-out: $snip-ease-sine-in-out,
    ),
    cubic: (
        in: $snip-ease-cubic-in,
        out: $snip-ease-cubic-out,
        in-out: $snip-ease-cubic-in-out,
    ),
    quint: (
        in: $snip-ease-quint-in,
        out: $snip-ease-quint-out,
        in-out: $snip-ease-quint-in-out,
    ),
    circ: (
        in: $snip-ease-circ-in,
        out: $snip-ease-circ-out,
        in-out: $snip-ease-circ-in-out,
    ),
    quad: (
        in: $snip-ease-quad-in,
        out: $snip-ease-quad-out,
        in-out: $snip-ease-quad-in-out,
    ),
    quart: (
        in: $snip-ease-quart-in,
        out: $snip-ease-quart-out,
        in-out: $snip-ease-quart-in-out,
    ),
    expo: (
        in: $snip-ease-expo-in,
        out: $snip-ease-expo-out,
        in-out: $snip-ease-expo-in-out,
    ),
    back: (
        in: $snip-ease-back-in,
        out: $snip-ease-back-out,
        in-out: $snip-ease-back-in-out,
    ),
);
