@import '../../assets/scss/imports.scss';
/*
    Documentation
*/

.Documentation {
    .Documentation__item {
        padding: 15px 0;

        h4 a {
            font-size: 20px;
            color: $color-text;

            &:hover {
                color: $color-primary;
            }
        }
    }
}
