/* ==========================================================================
   Pseudo element positioning
   ========================================================================== */

@mixin snip-pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;

    position: $pos;

    display: $display;
}
