@import "../../assets/scss/imports.scss";
/*
    Sidebar
*/

.Sidebar {
    flex: 0 0 250px;
    padding: 20px;

    .Sidebar__nav-item {
        margin-bottom: 4px;

        a {
            display: block;
        }

        &.active a {
            color: $color-primary;
        }
    }
}
