/* ==========================================================================
   Description examples
   ========================================================================== */

.#{$className-prefix}-description {
    code {
        padding-left: .3em;
        padding-right: .3em;

        background-color: rgba($color-primary, .2);

        border: 1px solid rgba($color-primary, .5);
        border-radius: 3px;

        color: rgba($color-text, .8);
        font-style: normal;
        font-size: .877em;
        white-space: nowrap;

        &,
        * {
            -webkit-font-smoothing: auto;
        }
    }

    a {
        text-decoration: none;

        > code {
            color: $color-primary;
        }
    }

    a code {
        color: $color-text;
        text-decoration: underline;
    }

    table {
        margin-bottom: 1.5em;

        background: $grey-light;

        border-collapse: collapse;
        border-spacing: 0;
        border-radius: 3px;

        td {
            padding: 3px 6px;

            border: none;

            vertical-align: top;
        }
    }
}
