/* ==========================================================================
   Nav
   ========================================================================== */
.#{$className-prefix}-nav {
}

.#{$className-prefix}-nav__container {
    margin-top: 20px;
}

.#{$className-prefix}-nav__link {
    display: block;
    padding: 5px 0;

    font-size: 16px;
    text-decoration: none;

    &:hover {
        color: darken($color-primary, 20);
    }

    &.#{$className-prefix}-nav__link--section {
        margin-top: 10px;

        font-weight: bold;
    }
}
