@import '../../assets/scss//imports';

/*
    Main Template
*/

.MainTemplate {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    > header {
        border-bottom: 1px dotted $color-primary--dark;

        h1 {
            margin: auto;
            padding: 12px 20px;

            color: $color-primary;
            font-weight: 400;
            font-size: 26px;

            &:hover {
                color: $color-primary--dark;
            }
        }
    }

    > main {
        display: flex;
        flex: 1 1 auto;

        > aside,
        > section {
            height: calc(100vh - 55px);

            overflow-y: scroll;
        }

        > section {
            flex: 1 1 auto;
            padding: 40px;

            .MainTemplate__package-info {
                margin-bottom: 60px;

                .MainTemplate__package-title {
                    display: flex;
                    align-items: center;

                    h2 {
                        color: $color-primary;
                    }

                    select {
                        margin-left: 20px;
                    }
                }
            }

            .TableOfContents {
                margin-bottom: 60px;
            }

            > h1 {
                margin-top: 0;
            }
        }
    }
}
