@import '../../assets/scss/imports.scss';
/*
    Table Of Contents
*/

.TableOfContents {
    .TableOfContents__folder {
        margin: 4px 0;

        color: $color-text;

        > div:first-child {
            margin-left: 4px;
        }

        .TableOfContents__item,
        .TableOfContents__children {
            margin: 4px 0;
            padding-left: 4px;
        }

        .TableOfContents__children {
            margin-left: 8px;

            border-left: 1px dashed $color-secondary;
        }
    }
}
